body {
    background-image: url("https://i.pinimg.com/originals/46/25/f4/4625f460c4f17248e3459454eaf5a4e7.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;
    padding: 10px;

}


main {
    display: flex;
}

label {
    font-weight: bold;
    color: white;
    margin: 0 7px;
}

div {
    width: 400px;
    border: 1px solid black;
    margin-top: 20px;
    background-color: rgba(250, 250, 250, 0.5);
    display: none;
    flex-wrap: wrap;
    padding: 10px;
    color: black;

}

h4 {
    display: flex;
}

.titulo {
    width: 120px;
    font-weight: bold;
    margin-top: 10px;
    font-size: 18px;
}

.descricao {
    width: 280px;
    margin-top: 10px;
    font-size: 18;
}

#labelAno, #labelModelo, #modeloId, #anoId{
    display: none; 
}